@import "tailwindcss";

:root {
  --color-background: #232829;
  --color-timer-background: #1D5B43;
  --color-timer-numbers: #FFBB00;
  --color-highlight-red: #FD5656;
  --color-card-discount: #FF4E4E;
  --color-card-background: #313637;
  --color-card-border: #484D4E;
  --color-card-full-price: #919191;
  --color-highlight-orange: #FDB056;
  --color-advice-background: #2D3233;
  --color-text-user-agreement: #9B9B9B;
  --color-refund-gurantee: #81FE95;
  --color-text-privacy-policy: #CDCDCD;
  --color-text-refund-gurantee: #DCDCDC;
}

@theme inline {
  /* Подключаем к Tailwind */
  --color-background: var(--color-background);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*  }*/
/*}*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ANIMATION: */

@keyframes circle-pulse {
  0% { box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7); }
  70% { box-shadow: 0 0 0 12px rgba(255, 0, 0, 0); }
  100% { box-shadow: 0 0 0 0 rgba(255, 0, 0, 0); }
}

.checkbox-error-animation {
  animation: circle-pulse 1.5s ease-out;
}

.grow-text {
   transition: font-size 0.5s ease-in-out; /* Smooth transition over 0.5 seconds */
   font-size: 40px; 
}


.buy-button-clicked-animation {
    animation: pulse 0.5s ease;
    background-color: #2ecc71;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}